{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<a class="btn btn-success" href="{{ path('client_new') }}"><i class="icon-user icon-white"></i> New</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>doc</th>
      <th>title</th>
      <th>date</th>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th>userId</th>
      {% endif %}
      <th>exId</th>
      <th>del</th>
    </tr>
  </thead>
  {% for client in clients %}
    <tr>
        <td>{{client.id}}</td>
        <td><a href="{{path('wizard_client_id', {'id': client.id}) }}" class="btn"><i class="icon-file"></i></a></td>
        <td><a href="{{ path('client_edit', {'id': client.id}) }}">{{client.title}}</a></td>
        <td>{{client.date|date("d-m-y")}}</td>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>{{client.userId.username}}</td>
        {% endif %}
        <td>{{client.exId}}</td>
        <td><a class="btn btn-danger" href="{{path('client_delete', {'id': client.id})}}">del</a></td>
    </tr>
  {% endfor %}
</table>
<br>
{% endblock %}
