{% if app.session.get('designId') == 0 %}
    <h4>Выбрать дизайн.</h4>
    {% if designs is defined and designs%}
    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="input-append">
            <form>
            <select name="designId" id="listDesignButton" >
                {% for design in designs %}
                    <option value="{{design.id}}">{{design.title}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success" id="loadDesignButton">Choose</button>
            </form>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-warning" id="newDesignButton">New design</button>
        </div>
    </div>

        {% if designForm is defined and designForm%}
        <div id="newDesignForm" class="hide">
            {{designForm|raw}}
        </div>
        {% endif %}
    {% endif %}
    <br>
{% elseif app.session.get('designId') > 0 %}
    <h4>Оформление:</h4>
    {% if designForm is defined and designForm%}
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-primary" id="editDesignButton"><i class="icon-edit icon-white"></i> {{designs.title}}</button>
        </div>
    </div>
    <div id="editDesignForm" class="hide">
        {{designForm|raw}}
    </div>
    {% endif %}
{% endif %}
