{% if app.session.get('templateId') == 0 %}
    {# Создаем нового клиента, возможность выбрать существующего #}
    <h4>Шаг 0. Создаем нового клиента или выбираем из списка.</h4>
    {% if templates is defined and templates%}
    <div class="btn-toolbar">
        <div class="btn-group">
            <div class="input-append">
            <form>
            <select name="templateId" id="appendedInputButton" >
                {% for template in templates %}
                    <option value="{{template.id}}">{{template.title}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-success" id="loadTemplateButton">Choose</button>
            </form>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-warning" id="newTemplateButton">New template</button>
        </div>
    </div>

        {% if templateForm is defined and templateForm%}
        <div id="newTemplateForm" class="hide">
            {{templateForm|raw}}
        </div>
        {% endif %}
    {% endif %}
    <br>
{% elseif app.session.get('templateId') > 0 %}
    {# Отображаем созданного клиента #}
    <h4>Шаг 1. Формируем данные клиента, добавляем при необходимости переменные.</h4>
    {% if templateForm is defined and templateForm%}
    <span>Выбран клиент: {{templates.title}}</span>
    <div class="btn-toolbar">
        <div class="btn-group">
            <button class="btn btn-warning" id="editTemplateButton">View data</button>
        </div>
    </div>
    <div id="editTemplateForm" class="hide">
        {{templateForm|raw}}
    </div>
    {% endif %}

{% endif %}