{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
{#
{% include "TotalcanDocumancerBundle:Wizard:clientSelector.html.twig" %}
{% include "TotalcanDocumancerBundle:Wizard:designSelector.html.twig" %}
{% include "TotalcanDocumancerBundle:Wizard:templateSelector.html.twig" %}
#}
{% if app.session.get('clientId') == 0 %}
    {{ render(controller('TotalcanDocumancerBundle:Wizard:client')) }}
{% else %}
    {{ render(controller('TotalcanDocumancerBundle:Wizard:clientId', { 'id': app.session.get('clientId'), 'ajax': 'ajax' })) }}
{% endif %}

{% if app.session.get('designId') == 0 %}
    {{ render(controller('TotalcanDocumancerBundle:Wizard:design')) }}
{% else %}
    {{ render(controller('TotalcanDocumancerBundle:Wizard:designId', { 'id': app.session.get('designId'), 'ajax': 'ajax' })) }}
{% endif %}

{% if app.session.get('templateId') == 0 %}
    {{ render(controller('TotalcanDocumancerBundle:Wizard:template')) }}
{% else %}
    {{ render(controller('TotalcanDocumancerBundle:Wizard:templateId', { 'id': app.session.get('templateId'), 'ajax': 'ajax' })) }}
{% endif %}

{% if app.session.get('templateId') > 0 and app.session.get('clientId') > 0 and app.session.get('designId') > 0 %}
    Предпросмотр документа.<br>
    Создать документ.<br>
{% endif %}

{#
<h4>Шаг 0. Определяем порядок создания документа.</h4>
Возможность выбрать с чего начать:<br>
клиент,<br>
текст,<br>
оформление,<br>
при необходимости, создать новые: клиент, текст, оформление.
<h4>Шаг 1. В зависимости от шага 0, переходим на подмастера.</h4>
<a href="{{ path('wizard_client')}}">wizard_client</a><br>
<a href="{{ path('wizard_template')}}">wizard_template</a><br>
<a href="{{ path('wizard_design')}}">wizard_design</a><br>
<br>
<h4>Шаг 2. Возвращаемся с подмастера с готовым документом.</h4>
Возможность распечатать в браузере, сохранить в пдф или дать ссылку.
<br>#}
{% endblock %}
