{% extends "TotalcanDocumancerBundle::layout.html.twig" %}

{% block head %}
{{ parent() }}
<style>
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
</style>
{% endblock %}

{% block navigation %}

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ path('homepage')}}">Начало</a></li>
              <li><a href="{{ path('document_list')}}">Мои документы</a></li>
              <li><a href="{{ path('template_list')}}">Шаблоны</a></li>
              <li><a href="{{ path('design_list')}}">Дизайны</a></li>
              <li><a href="{{ path('client_list')}}">Клиенты</a></li>
              {% if app.user.username is defined and app.user.username%}
              {% if is_granted('ROLE_ADMIN') %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Операторы <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for user in users %}
                  <li><a href="{{ path('homepage') }}?_change_user={{user.username}}">{{user.username}}</a></li>
                  {% endfor %}
                </ul>
              </li>
              {% endif %}
              {% endif %}
            </ul>
            {% if app.user.username is defined and app.user.username%}
               <a href="#" class="btn">{{ app.user.username }}</a> <a class="btn btn-warning" href="{{ path("logout") }}">Logout</a>
            {% else %}
            <form class="navbar-form pull-right" action="{{ path("login_check") }}" method="post" id="login">
              <input class="span2" type="text" placeholder="Email" id="username" name="_username" value="" >
              <input class="span2" type="password" placeholder="Password" id="password" name="_password" >
              <button type="submit" class="btn">Sign in</button>
            </form>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
    {% if error is defined and error%}
        <div class="error">{{ error.message }}</div>
    {% endif %}
    </div>
{% endblock %}

{% block content %}
Мастер создания нового
<br><br>
Таблица готовых документов



{% endblock %}