{% extends "TotalcanDocumancerBundle::layout.html.twig" %}

{% block head %}
{{ parent() }}
<style>
body {
    padding-top: 60px;
    padding-bottom: 40px;
}
.gyro-unit {
padding: 30px;
margin: 10px;
font-size: 16px;
font-weight: 100;
line-height: 30px;
color: inherit;
background-color: #f5f5f5;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
</style>
{% endblock %}

{% block navigation %}

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="{{ path('homepage')}}">Начало</a></li>
              <li><a href="{{ path('document_list')}}">Документы</a></li>
              <li><a href="{{ path('template_list')}}">Шаблоны</a></li>
              <li><a href="{{ path('design_list')}}">Дизайны</a></li>
              <li><a href="{{ path('client_list')}}">Клиенты</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Компании <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Управление</li>
                  <li><a href="{{ path('company_list')}}">Компании</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Недавние:</li>
                </ul>
              </li>
              {% if app.user.username is defined and app.user.username%}
              {% if is_granted('ROLE_COMPANY_ADMIN') %}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Операторы <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="nav-header">Управление</li>
                  <li><a href="{{ path('user_list')}}">Все пользователи</a></li>
                  <li><a href="{{ path('role_list')}}">Группы пользователей</a></li>
                  {% if is_granted('ROLE_SUPER_ADMIN') %}
                  <li class="divider"></li>
                  <li class="nav-header">Вход от имени:</li>
                  <li class="text-center"><form class="form-inline"><input id="switch_user" class="span2" type="text">&nbsp;<button id="switch_user_submit" class="btn btn-success btn-small">Go</button></form></li>
                  {% if users is defined and users%}
                  {% for user in users %}
                  <li><a href="{{ path('homepage') }}?_change_user={{user.username}}">{{user.username}}</a></li>
                  {% endfor %}
                  {% endif %}
                  {% endif %}
                </ul>
              </li>
              {% endif %}
              {% endif %}
            </ul>
            {% if app.user.username is defined and app.user.username%}
               <a href="#" class="btn">{{ app.user.username }}</a> <a class="btn btn-warning" href="{{ path("logout") }}">Logout</a>
              {# {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <a class="btn btn-info" href="{{ path('homepage', {_change_user: '_exit'}) }}">Admin</a>
                {% endif %}#}
            {% else %}
            <form class="navbar-form pull-right" action="{{ path("login_check") }}" method="post" id="login">
              <input class="span2" type="text" placeholder="Email" id="username" name="_username" value="" >
              <input class="span2" type="password" placeholder="Password" id="password" name="_password" >
              <button type="submit" class="btn">Sign in</button>
            </form>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
{% for flashMessage in app.session.flashbag.get('notice') %}
{{ flashMessage }}
{% endfor %}
</div>
{% endblock %}


{% block content %}
Мастер создания нового
<br><br>
Таблица готовых документов
{% endblock %}