{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<a class="btn btn-success" href="{{ path('user_new') }}">New</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>username</th>
      <th>email</th>
      <th>roles</th>
      <th>variables</th>
      <th>date</th>
      <th>delete</th>
    </tr>
  </thead>
  {% for userList in userLists %}
    <tr>
        <td>{{userList.id}}</td>
        <td><a href="{{ path('user_edit', {'id': userList.id}) }}">{{userList.username}}</a></td>
        <td>{{userList.email}}</td>
        <td>
        {% for role in userList.roles %}
            {{ role }}{% if not loop.last %}, {% endif %}
        {% endfor %}
        </td>
        <td>{{userList.variables}}</td>
        <td>{{userList.date|date("Y m d")}}</td>
        <td><a class="btn btn-danger" href="{{path('user_delete', {'id': userList.id})}}">del</a></td>
    </tr>
  {% endfor %}
</table>
<br>
{% endblock %}
