{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<a class="btn btn-primary" href="{{ path('user_list') }}">Back to list</a><br><br>
<form class="form-horizontal"  action="{{ path('user_new') }}" method="post" {{ form_enctype(form) }}>
  <div class="control-group">

    {{ form_errors(form) }}
    {{ form_widget(form) }}

      <br>
   <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>
</div>
{% endblock %}
