{% extends "TotalcanDocumancerBundle::layout.html.twig" %}

{% block title %}TotalcanDocumancerBundle:Document:list{% endblock %}

{% block content %}
<button class="btn btn-success newDoc">New</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>title</th>
      <th>dl</th>
      <th>date</th>
      <th>userId</th>
      <th>clientId</th>
      <th>templateId</th>
      <th>designId</th>
    </tr>
  </thead>
  {% for document in documents %}
    <tr>
        <td>{{document.id}}</td>
        <td><a href="{{ path('document_edit', {'id': document.id}) }}">{{document.title}}</a></td>
        <td><a class="btn" href="{{ path('document_pdf', {'id': document.id}) }}">pdf</a> <a class="btn" href="{{ path('document_jpg', {'id': document.id}) }}">jpg</a></td>
        <td>{{document.date|date("Y m d")}}</td>
        <td>{{document.userId}}</td>
        <td>{{document.clientId}}</td>
        <td>{{document.templateId}}</td>
        <td>{{document.designId}}</td>
    </tr>
  {% endfor %}
</table>
<br>
<a class="btn btn-warning" href="{{ path("logout") }}">Logout</a>
{% endblock %}
