{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<a class="btn btn-success" href="{{ path('document_new') }}">New</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>title</th>
      <th>dl</th>
      <th>date</th>
      {% if is_granted('ROLE_ADMIN') %}
        <th>userId</th>
      {% endif %}
      <th>clientId</th>
      <th>templateId</th>
      <th>designId</th>
    </tr>
  </thead>
  {% for document in documents %}
    <tr>
        <td>{{document.id}}</td>
        <td><a href="{{ path('document_edit', {'id': document.id}) }}">{{document.title}}</a></td>
        <td><a class="btn" href="{{ path('document_pdf', {'id': document.id}) }}">pdf</a> <a class="btn" href="{{ path('document_jpg', {'id': document.id}) }}">jpg</a></td>
        <td>{{document.date|date("Y m d")}}</td>
        {% if is_granted('ROLE_ADMIN') %}
            <td>{{document.userId}}</td>
        {% endif %}
        <td>{{document.clientId}}</td>
        <td>{{document.templateId}}</td>
        <td>{{document.designId}}</td>
    </tr>
  {% endfor %}
</table>
<br>
{% endblock %}
