{% extends "KnwsPortfolioBundle::layout.html.twig" %}
{% block title %}{{title}} — {{ parent() }}{% endblock %}

{% block date_widget %}
{% spaceless %}
    {% if widget == 'single_text' %}
        {{ block('form_widget_simple') }}
    {% else %}
        <div {{ block('widget_container_attributes') }}>
            {{ date_pattern|replace({
                '{{ year }}': form_widget(form.year)
            })|raw }}
        </div>
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block content %}
<div class="clients skills container_12">
    <h2 class="grid_12">{{title}}</h2>
    <form action="{{ path('knws_portfolio_works_new') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.title, { 'attr': {'class':'span6','placeholder':'Заголовок'} }) }}
        {{ form_row(form.description, {'attr': {'class':'span6', 'rows':'7', 'placeholder':''} }) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
</div>
{% endblock %}
