{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<a class="btn btn-success" href="{{ path('template_new') }}">New</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>doc</th>
      <th>title</th>
      <th>variables</th>
      <th>template</th>
      <th>date</th>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th>userId</th>
      {% endif %}
      <th>delete</th>
    </tr>
  </thead>
  {% for template in templates %}
    <tr>
        <td>{{template.id}}</td>
        <td><a href="{{path('wizard_template_id', {'id': template.id}) }}" class="btn"><i class="icon-file"></i></a></td>
        <td><a href="{{ path('template_edit', {'id': template.id}) }}">{{template.title}}</a></td>
        <td>{{template.variables}}</td>
        <td>{{template.template}}</td>
        <td>{{template.date|date("d-m-y")}}</td>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>{{template.userId}}</td>
        {% endif %}
        <td><a class="btn btn-danger" href="{{path('template_delete', {'id': template.id})}}">del</a></td>
    </tr>
  {% endfor %}
</table>
<br>
{% endblock %}
