{% extends "TotalcanDocumancerBundle:Frontpage:index.html.twig" %}

{% block content %}
<a class="btn btn-success" href="{{ path('design_new') }}">New</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>doc</th>
      <th>title</th>
      <th>date</th>
      {% if is_granted('ROLE_SUPER_ADMIN') %}
        <th>userId</th>
      {% endif %}
      <th>delete</th>
    </tr>
  </thead>
  {% for design in designs %}
    <tr>
        <td>{{design.id}}</td>
        <td><a href="{{path('wizard_design_id', {'id': design.id}) }}" class="btn"><i class="icon-file"></i></a></td>
        <td><a href="{{ path('design_edit', {'id': design.id}) }}">{{design.title}}</a></td>
        <td>{{design.date|date("d-m-y")}}</td>
        {% if is_granted('ROLE_SUPER_ADMIN') %}
            <td>{{design.userId.username}}</td>
        {% endif %}
        <td><a class="btn btn-danger" href="{{path('design_delete', {'id': design.id})}}">del</a></td>
    </tr>
  {% endfor %}
</table>
<br>
{% endblock %}
